* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #020202;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

a {
  color: #f00c0c;
}

.App {
  text-align: center;
  color: white;
}
.linksButton {
  font-size: calc(10px + 2vmin);
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.nav {
  display: flex;
  justify-content: left;
}

.navigation {
  font-size: calc(10px + 2vmin);
  margin-top: 10px;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 150px;
}
