* {
  margin: 0;
  padding: 0;
}

body .App{
  height: 100vh;
  background-color: #020202;
  background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

a {
  color: #f00c0c;
}

.App {
  text-align: center;
  color: white;
}
.linksButton.nav {
  font-size: calc(5px + 2vmin);
}

.linksButton.log{
  font-size: calc(8px + 1vmin);
  margin: 10px;
  justify-content: center;
  text-align: center
}

.App-header {
  font-size: calc(10px + 2vmin);
}

.nav {
  display: flex;
  justify-content: left;
}

.navigation {
  font-size: calc(10px + 2vmin);
  margin-top: 10px;
}

.navigation ul {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  margin-bottom: 150px;
}

.settings{
    position: absolute;
    text-align: center;
}

.setting-contents{
  position: absolute
}

.userInfo{
    position: relative;
    text-align: center;
}